<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :acronym %>
          <%= f.label :acronym, 'Sigle du programme' %>
        </div>

        <div class="input-field col s12">
          <%= f.label :name, 'Nom du programme' %>
          <%= f.text_field :name %>
        </div>

        <div class="input-field col s12">
          <% if @program.new_record? %>
              <%= f.submit 'Ajouter le programme', class: 'btn red darken-2' %>
          <% else %>
              <%= f.submit 'Modifier le programme', class: 'btn red darken-2' %>
          <% end %>
        </div>
    </div>
<% end %>
