<h1>Liste des programmes</h1>

<%= link_to 'Nouveau programme', new_program_path, class: 'btn red darken-2' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sigle</th>
      <th>Nom du programme</th>
      <th># de cours</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.acronym %></td>
        <td><%= program.name %></td>
        <td><%= program.courses.length %></td>
        <td><%= link_to 'Voir', program, class: 'btn red darken-2' %></td>
      </tr>
    <% end %>
  </tbody>
</table>