<div class="books">
  <div class="header row">
    <div class="photo col-md-2">
      Photo
    </div>
    <div class="col-md-5">
      Info
    </div>
    <div class="col-md-1">
      État (?)
    </div>
    <div class="col-md-2">
      Date
    </div>
    <div class="col-md-2">
      Prix
    </div>
  </div>
  <% @books.each do |book| %>
    <div class="book row">
      <div class="photo col-md-2">
        <%= image_tag book.photo.url(:thumb) %>
      </div>
      <div class="info col-md-5">
        <div class="title"><%= book.name %></div>
        <% if book.author.to_s != '' %>
            <div class="author">
              <strong>Auteur:</strong>
              <%= book.author  %>
            </div>
        <% end %>
        <% if book.edition.to_s != '' %>
            <div class="edition">
              <strong>Édition:</strong>
              <%= book.edition  %>
            </div>
        <% end %>
        <div class="more_details"><%= link_to 'Plus de détails', book %></div>
        (
            <%= link_to 'Edit', edit_book_path(book) %>
            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
        )
      </div>
      <div class="state col-md-1">
        <%= book.state %>
      </div>
      <div class="date col-md-2">
        <%= time_ago_in_words(book.created_at) %>
      </div>
      <div class="price col-md-2">
        <%= book.price %>
      </div>
    </div>
  <% end %>
</div>