<div class="book_infos row">
  <div class="image_container col l2 s12">
    <%= image_tag book.photo.url(:medium) %>
  </div>

  <div class="informations col l6 s12">
    <h4><%= book.name %></h4>
    <% if book.author != "" %>
        <h5><strong>Auteur : </strong><%= book.author %></h5>
    <% end %>

    <% if book.edition != "" %>
        <h5><strong>Édition : </strong><%= book.edition %></h5>
    <% end %>

    <div class="stars col l12 s12 grey-text text-darken-3">
      <span class="fa fa-lg col l1 s2 offset-s1 offset-l0 <% if book.state >= 1 %>fa-star<% else %>fa-star-o<% end %>"></span>
      <span class="fa fa-lg col l1 s2 <% if book.state >= 2 %>fa-star<% else %>fa-star-o<% end %>"></span>
      <span class="fa fa-lg col l1 s2 <% if book.state >= 3 %>fa-star<% else %>fa-star-o<% end %>"></span>
      <span class="fa fa-lg col l1 s2 <% if book.state >= 4 %>fa-star<% else %>fa-star-o<% end %>"></span>
      <span class="fa fa-lg col l1 s2 <% if book.state >= 5 %>fa-star<% else %>fa-star-o<% end %>"></span>
    </div>
  </div>

  <% book.courses.each do |course| %>
      <span class="course btn red darken-2 col m1 s12"><%= course.acronym %></span>
  <% end %>

  <div class="price col l2 offset-l2 s3 offset-s4">
    <span><%= number_to_currency(book.price) %></span>
  </div>

  <div class="clear"></div>
</div>