<h2>Catégories</h2>
<ul class="categories">
  <li><%= link_to 'LOG', book_path(:search, {:q => 'LOG'}) %></li>
  <li><%= link_to 'GTI', book_path(:search, {:q => 'GTI'}) %></li>
  <li><%= link_to 'GOL', book_path(:search, {:q => 'GOL'}) %></li>
  <li><%= link_to 'GPA', book_path(:search, {:q => 'GPA'}) %></li>
  <li><%= link_to 'CTN', book_path(:search, {:q => 'CTN'}) %></li>
  <li><%= link_to 'MEC', book_path(:search, {:q => 'MEC'}) %></li>
  <li><%= link_to 'ÉLÉ', book_path(:search, {:q => 'ÉLÉ'}) %></li>
</ul>