<%= form_for(@book, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @book.errors.any? %>
    <div class="alert alert-danger">
      <h2>Il y a <%= pluralize(@book.errors.count, "érreur") %> dans le formulaire:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="book_full_form well">
    <div class="book_form">
        <h2>Infos sur le livre</h2>
        <div class="form-group">
            <%= f.label :name, '* Titre', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :name, html_options = {class: 'form-control'} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :author, 'Auteur', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :author, html_options = {class: 'form-control'} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :edition, 'Édition', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :edition , html_options = {class: 'form-control'}%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :course, '* Cours', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
              <%= f.text_area :courses , html_options = {class: 'form-control course_selector'} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :state, '* État', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.radio_button(:state, 1, html_options = {class: 'col-sm-2'}) %>
                <%= f.radio_button(:state, 2, html_options = {class: 'col-sm-2'}) %>
                <%= f.radio_button(:state, 3, html_options = {class: 'col-sm-2'}) %>
                <%= f.radio_button(:state, 4, html_options = {class: 'col-sm-2'}) %>
                <%= f.radio_button(:state, 5, html_options = {class: 'col-sm-2'}) %>
            </div>
            <div class="col-sm-10 state_infos" style="text-align: center">
                <%= label_tag(:book_state_1, "Il manque des pages!", html_options = {class: 'col-sm-2'}) %>
                <%= label_tag(:book_state_2, "Mauvais état.", html_options = {class: 'col-sm-2'}) %>
                <%= label_tag(:book_state_3, "Usage normal, annoté", html_options = {class: 'col-sm-2'}) %>
                <%= label_tag(:book_state_4, "Usage normal, les coins un peu pliés", html_options = {class: 'col-sm-2'}) %>
                <%= label_tag(:book_state_5, "Comme neuf", html_options = {class: 'col-sm-2'}) %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :price, '* Prix', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
              <%= f.number_field :price , html_options = {class: 'form-control'}%>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :photo, 'Photo', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
              <%= f.file_field :photo , html_options = {class: 'form-control'}%>
            </div>
        </div>
    </div>

    <div class="seller_form">
        <h2>Informations du vendeur</h2>
        <div class="form-group">
            <%= f.label :contact_name, '* Nom', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :contact_name , html_options = {class: 'form-control'}%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :email, '* Courriel', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.email_field :email , html_options = {class: 'form-control'}%>
                <i>Vous devez valider votre courriel, il ne sera pas affiché</i>
            </div>
        </div>
        <div class="form-group">
              <%= f.label :contact_phone, 'Téléphone', html_options = {class: 'col-sm-1 control-label'} %>
              <div class="col-sm-10">
                <%= f.phone_field :contact_phone , html_options = {class: 'form-control'}%>
                <i>Votre numéro de téléphone sera affiché</i>
              </div>
        </div>
    </div>

    <input type="hidden" name="code" value="<%= params['code'] %>" />

    <div class="actions">
      <%= f.submit 'Ajouter le livre', html_options = {class: 'btn btn-primary'} %>
    </div>
  </div>

    <script>
        $(document).ready(function () {
            $(".course_selector").tokenInput("<%= get_courses_json_courses_path %>", {
                'theme': 'facebook',
                tokenFormatter: function(item) {return "<li><p>" + item.name.split(' ')[0] + "</p></li>"},
                preventDuplicates: true,
                hintText: 'Chercher un cours',
                noResultsText: 'Aucuns résultats',
                searchingText: 'Recherche en cours...'
            });

            $('.token-input-list-facebook').addClass('custom_token_selector')
            $('.token-input-list-facebook').addClass('form-control')

        });
    </script>

<% end %>
