<%= form_for(@book, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @book.errors.any? %>
    <div class="alert alert-danger">
      <h2>Il y a <%= pluralize(@book.errors.count, "érreur") %> dans le formulaire:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="book_full_form well">
    <div class="book_form">
        <h2>Infos sur le livre</h2>
        <div class="form-group">
            <%= f.label :name, '* Titre', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :name, html_options = {class: 'form-control'} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :author, 'Auteur', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :author, html_options = {class: 'form-control'} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :edition, 'Édition', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :edition , html_options = {class: 'form-control'}%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :course, '* Cours', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
              <%= f.text_area :courses , html_options = {class: 'form-control course_selector'} %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :state, '* État', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="stars col-lg-12 col-xs-12">
              <span star_amount="1" class="state_star fa fa-lg col-lg-2 col-xs-2 col-xs-offset-1 col-lg-offset-2 <% if @book.state and @book.state >= 1 %>fa-star<% else %>fa-star-o<% end %>"></span>
              <span star_amount="2" class="state_star fa fa-lg col-lg-2 col-xs-2 <% if @book.state and @book.state >= 2 %>fa-star<% else %>fa-star-o<% end %>"></span>
              <span star_amount="3" class="state_star fa fa-lg col-lg-2 col-xs-2 <% if @book.state and @book.state >= 3 %>fa-star<% else %>fa-star-o<% end %>"></span>
              <span star_amount="4" class="state_star fa fa-lg col-lg-2 col-xs-2 <% if @book.state and @book.state >= 4 %>fa-star<% else %>fa-star-o<% end %>"></span>
              <span star_amount="5" class="state_star fa fa-lg col-lg-2 col-xs-2 <% if @book.state and @book.state >= 5 %>fa-star<% else %>fa-star-o<% end %>"></span>
            </div>

            <%= f.hidden_field :state, html_options = {class: 'state_input'} %>
        </div>

        <div class="form-group">
            <%= f.label :price, '* Prix', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
              <%= f.number_field :price , html_options = {class: 'form-control'}%>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :photo, 'Photo', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
              <%= f.file_field :photo , html_options = {class: 'form-control'}%>
            </div>
        </div>
    </div>

    <div class="seller_form">
        <h2>Informations du vendeur</h2>
        <div class="form-group">
            <%= f.label :contact_name, '* Nom', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.text_field :contact_name , html_options = {class: 'form-control'}%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :email, '* Courriel', html_options = {class: 'col-sm-1 control-label'} %>
            <div class="col-sm-10">
                <%= f.email_field :email , html_options = {class: 'form-control'}%>
                <i>Vous devez valider votre courriel, il ne sera pas affiché</i>
            </div>
        </div>
        <div class="form-group">
              <%= f.label :contact_phone, 'Téléphone', html_options = {class: 'col-sm-1 control-label'} %>
              <div class="col-sm-10">
                <%= f.phone_field :contact_phone , html_options = {class: 'form-control'}%>
                <i>Votre numéro de téléphone sera affiché</i>
              </div>
        </div>
    </div>

    <input type="hidden" name="code" value="<%= params['code'] %>" />

    <div class="actions">
      <% if @book.new_record? %>
        <%= f.submit 'Ajouter le livre', html_options = {class: 'btn btn-primary'} %>
      <% else %>
        <%= f.submit 'Modifier le livre', html_options = {class: 'btn btn-primary'} %>
      <% end %>
    </div>
  </div>

    <script>
        $(document).ready(function () {
            $(".course_selector").tokenInput("<%= search_courses_path %>", {
                'theme': 'facebook',
                tokenFormatter: function(item) {return "<li><p>" + item.name.split(' ')[0] + "</p></li>"},
                preventDuplicates: true,
                hintText: 'Chercher un cours',
                noResultsText: 'Aucuns résultats',
                searchingText: 'Recherche en cours...'
            });

            $('.token-input-list-facebook').addClass('custom_token_selector').addClass('form-control')

            <% for course in @book.courses %>
                $('.course_selector').tokenInput("add", {id: <%= course.id %>, name: "<%= course.acronym %>"})
            <% end %>

            $('.state_star').click(function() {
                var star_amount = $(this).attr('star_amount');
                $('.state_input').val(star_amount)
                $('body').find('.state_star').each(function() {
                    if($(this).attr('star_amount') <= star_amount) {
                        if(!$(this).hasClass('fa-star'))
                            $(this).addClass('fa-star')
                        $(this).removeClass('fa-star-o')
                    } else {
                        if(!$(this).hasClass('fa-star-o'))
                            $(this).addClass('fa-star-o')
                        $(this).removeClass('fa-star')
                    }
                });
            })
        });
    </script>

<% end %>
