<h1>Editing book</h1>

<a data-confirm="Es-tu certain?" data-method="DELETE" href="<%= url_for @book %>?code=<%= params['code'] %>">Détruire</a> |
<a href="<%= url_for @book %>/activate?code=<%= params['code'] %>">Activer</a> |
<%= link_to 'Voir l\'annonce', @book %> |
<%= link_to 'Back', books_path %>

<%= render 'form' %>

