<%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">

        <div class="input-field col s12">
          <%= f.text_field :acronym, {:class => ''} %>
          <%= f.label :acronym, 'Sigle du cours', class: '' %>
        </div>

        <div class="input-field col s12">
          <%= f.label :name, 'Nom du cours', class: '' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="input-field col s12">
          <%= f.select :program, options_from_collection_for_select(Program.all, :id, :name) %>
          <%= f.label :program, 'Programme' %>
        </div>

        <div class="input-field col s12">
          <% if @course.new_record? %>
              <%= f.submit 'Ajouter le cours', class: 'btn red darken-2' %>
          <% else %>
              <%= f.submit 'Modifier le cours', class: 'btn red darken-2' %>
          <% end %>
        </div>
    </div>

    <script>
      $('select').material_select();
    </script>
<% end %>
