<h1>Liste des cours</h1>

<%= link_to 'Nouveau cours', new_course_path, class: 'btn btn-primary' %>

<table class="table table-striped col-xs-12">
  <thead>
    <tr>
      <th class="col-lg-1 col-xs-1">Sigle</th>
      <th class="col-lg-7 col-xs-7">Nom du cours</th>
      <th class="col-lg-3 col-xs-3">Programme</th>
      <th class="col-lg-1 col-xs-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.acronym %></td>
        <td><%= course.name %></td>
        <td>
          <% if course.program %>
            <%= course.program.acronym %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= link_to 'Voir', course, class: 'btn btn-sm btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
