<p id="notice"><%= notice %></p>

<h2><%= "#{@course.acronym} #{@course.name}" %></h2>
<h3><%= @course.program.name %></h3>

<%= link_to 'Modifier', edit_course_path(@course), class: 'btn grey darken-2' %>
<%= link_to 'Supprimer', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red' %>