<!DOCTYPE html>
<html>
<head>
  <title>ETSBooks</title>
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>ETSBook</h1>

  <%= link_to raw('<i class="glyphicon glyphicon-plus"> Ajouter un livre</i>'), new_book_path, html_options = {class: 'btn btn-success'} %>
</div>

<div class="container">
    <%= form_for :book, url: search_books_path  do |f| %>
        <div class="input-group">
          <input type="text" class="form-control" name="search" placeholder="Sigle, Nom du livre...">
          <span class="input-group-btn"><button class="btn btn-ar btn-primary" type="submit" value="Recherche">Recherche</button>
            </span>
        </div>
    <% end %>
</div>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
