<!DOCTYPE html>
<html>
<head>
  <title>ETSBooks</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'token-input', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'token-input-facebook', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery.tokeninput', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1 class="title"><%= link_to 'LivrETS', root_path %></h1>

  <%= link_to raw('<span class="fa fa-plus"></span> Ajouter un livre'), new_book_path, html_options = {class: 'btn btn-success add_button'} %>
  <div class="clear"></div>
</div>

<div class="container">
    <%= form_for :book, url: search_books_path  do |f| %>
        <div class="input-group">
          <input type="text" class="form-control" name="search" placeholder="Sigle, Nom du livre...">
          <span class="input-group-btn"><button class="btn btn-ar btn-primary" type="submit" value="Recherche">Recherche</button>
            </span>
        </div>
    <% end %>
</div>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
